<h1 class="text-center text-light mt-3">FAQ</h1>
<div class="accordion w-75 mx-auto mt-4" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          What is Lorcana Deck Tracker?
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Lorcana Deck Tracker</strong> is an application that helps you track Disney Lorcana cards. You can track your own deck by adding and removing cards and view your overall stats of how many cards you've collected in each expansion.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
          Who should use this?
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>Anyone who want to focus on collecting cards.</strong> You can track how many cards you've collected and how much your current deck is worth. If you are only interested in collecting cards and not in playing the game, then this is the best application to track your cards.
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingThree">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          I want to add a card which I cannot find, what now?
        </button>
      </h2>
      <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          <strong>This can be possible as we are trying to stay up to date with upcoming expansions.</strong> View our <a href="#/updates/overview">Updates</a> page to see which expansions we currently support from Disney Lorcana.<br><br> If we support the expansion and the card is still missing, then please contact us and report this issue.
        </div>
      </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
            Can I also track cards which are not Disney Lorcana?
          </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>No, we don't support other card collections.</strong> As we want to give Disney Lorcana card collectors the best deck tracking experience, we solely built this around Disney Lorcana only.
          </div>
        </div>
      </div>
  </div>
