a<h1 class="text-center text-light mt-3">Updates</h1>
<div class="accordion w-75 mx-auto mt-4" id="accordionExample">
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
          V1 - 12/01/2024
        </button>
      </h2>
      <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
        <div class="accordion-body">
          - Support cards from "The First Chapter"<br>
          - Dashboard with all collection and deck value stats<br>
          - Add cards to deck through quick search<br>
          - Filter deck with many filters<br>
          - FAQ Page added<br>
          - Updates page added<br>
          - Support register and login
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Upcoming Weekly Update - 19/01/2024
        </button>
      </h2>
      <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
        <div class="accordion-body">
            - Support cards from "Rise Of The Floodborn"<br>
            - Add lockout functionality when too many login attempts for extra security"<br>
            - Add 2-step verification for extra security<br>
            - Support external login through Google<br>
        </div>
      </div>
    </div>
  </div>
